/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: #150d36;
  --color-dark: #201036;
  --color-light: #dbdbff;
  --color-lighter: #f4ecff;
  --color-lighest: #fff;
  --color-cta: #ff2986;
  --font-display: "Playfair Display", serif;
  --font-paragraph: "Source Sans Pro", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

#fp-header {
  background-color: var(--color-lighter);
}

.header-text-ani {
  opacity: 0;
}

/* Fonts */
h1 {
  color: var(--color-dark);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  color: var(--color-dark);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-family: var(--font-paragraph);
  color: var(--color-dark);
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
  text-align: left;
}

h4 {
  color: var(--color-lighest);
  font-family: var(--font-paragraph);
  font-size: 1.1rem;
}

p {
  color: var(--color-dark);
  font-family: var(--font-paragraph);
  line-height: 2rem;
  font-size: 1rem;
}

a {
  font-family: var(--font-paragraph);
}

form {
  background-color: var(--color-cta);
  box-shadow: -4px 12px 8px #7a688f;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
  min-width: 14rem;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-in-out 0s;
}

form:hover {
  transform: scale(1.1);
}

input.button {
  font-family: var(--font-paragraph);
  color: var(--color-lighest);
  background-color: transparent;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 1rem;
  padding-inline: 3rem;
}

/*MENU*/
.nav-item a {
  color: var(--color-lighest);
  font-family: var(--font-paragraph);
  text-decoration: none;
  font-size: 1.1rem;
}

.logo {
  width: 3rem;
}

.navbar {
  background-color: var(--color-dark);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
}

.nav-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--color-cta);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-lighest);
}

@media (max-width: 805px) {
  /*MENU*/
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 85px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 4;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*HEADER*/
#frontpage-header {
  padding-block: 5rem;
  padding-inline: 1rem;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.header-text-ani {
  z-index: 3;
}

#frontpage-header p {
  text-align: center;
}
/*INTRO*/
#intro {
  min-height: 60vh;
  padding: 1rem;
  margin-block: 6rem 5rem;
  overflow: hidden;
}

.intro-text {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro-graphic-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-graphic {
  max-width: 30rem;
}

/*ASSIGNMENTS*/
#assignments {
  background-color: var(--color-light);
  padding-block: 2rem 10rem;
}

#assignments h2 {
  margin-inline: 1rem;
  margin-bottom: 1.5rem;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-gap: 1rem;
  margin-inline: 1rem;
  margin-top: 10rem;
  opacity: 0;
}

.card {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--color-lighest);
  box-shadow: -5px 12px 10px #7a688f;
  width: 300px;
}

.img-container {
  margin-inline: 1.5rem;
  margin-top: 1.5rem;
}

.card-link-container {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

.card p {
  margin-inline: 1.5rem;
}

.card a {
  margin-inline: 1.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--color-cta);
  font-size: 1.2rem;
  text-decoration: none;
}

/*CONCLUSION*/
#conclusion {
  background-color: var(--color-lighter);
  padding-inline: 1rem;
  padding-block: 4rem;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.conclu-text {
  opacity: 0;
  max-width: 50rem;
}

/*FOOTER*/
footer {
  background-color: var(--color-dark);
  padding: 1rem;
}

footer p {
  color: var(--color-lighest);
}

.logo-footer {
  width: 4rem;
}

#footer-logo {
  display: grid;
  justify-items: center;
}

#footer-logo a {
  margin-block: 1rem 3rem;
  margin-inline: 2rem 1rem;
}

.footer-text {
  text-align: center;
  margin-bottom: 1.5rem;
}

.link-text h4 {
  margin-bottom: 0.5rem;
}

.link-text a {
  color: var(--color-lighest);
  font-family: var(--font-paragraph);
  margin-top: 1rem;
}

/*FONTS & UI CARDS*/
#fonts {
  overflow: hidden;
}

#fonts h2 {
  font-size: 2rem;
}

.assign-header {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-text {
  opacity: 0;
}

.assign-header h1 {
  font-size: 3rem;
}

.mock-up {
  padding-block: 2rem 4rem;
  padding-inline: 1rem;
  background-color: var(--color-light);
}

.mock-up-img-container {
  margin-top: 1.5rem;
}

.mock-up-img {
  max-width: 35rem;
}

.details {
  padding-block: 2rem 4rem;
  padding-inline: 1rem;
  background-color: var(--color-lighter);
}

.details-img-container {
  margin-block: 1.5rem;
}

.details-img {
  max-width: 40rem;
}

.buttons {
  margin-top: -1rem;
  margin-bottom: 1rem;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 2rem;
  z-index: 5;
  position: relative;
}

/*FRAMEWORK*/

.fw-mockup {
  background-color: var(--color-light);
  padding-inline: 1rem;
  padding-block: 1rem 3rem;
}

.fw-details {
  background-color: var(--color-lighter);
  padding-inline: 1rem;
  padding-block: 1rem 3rem;
}

.fw-img {
  max-width: 35rem;
}

#frameworks h2 {
  font-size: 2rem;
}

/*COLORS & ANIMATION*/
.color-header {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#colors {
  overflow: hidden;
}

#color-mockup h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

#colors h2 {
  font-size: 2rem;
}

.color-mockup-left {
  background-color: var(--color-lighter);
  padding-inline: 1rem;
  padding-block: 1rem 3rem;
}

.color-mockup-right {
  background-color: var(--color-light);
  padding-inline: 1rem;
  padding-block: 1rem 3rem;
}

.color-img {
  max-width: 35rem;
}

.light-mode,
.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mockup-color-img {
  max-width: 30rem;
}

#color-details {
  margin-top: 10rem;
}

#animation-detail h3 {
  margin-left: 0;
  margin-bottom: 1rem;
}

#animation-detail {
  padding-block: 3rem 5rem;
}

/*RESPONSIVE*/
#responsive {
  overflow: hidden;
}

#responsive h2 {
  font-size: 2rem;
}

@media (min-width: 790px) {
  /*INTRO*/
  #intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 1rem;
  }

  #intro h2 {
    text-align: left;
  }

  /*ASSIGNMENTS*/
  .assignments-container {
    background-color: var(--color-light);
    padding: 1rem;
    height: 25vh;
    margin-bottom: 0;
    padding-bottom: 5rem;
  }

  #assignments {
    background-color: transparent;
    padding-block: 2rem;
  }

  #assignments h2 {
    font-size: 3.5rem;
    margin-top: 3.5rem;
  }

  .card-container {
    margin-top: 0;
  }

  /*CONCLUSION*/

  #conclusion h2 {
    font-size: 4rem;
  }

  .conclu-text p {
    margin-top: 2rem;
  }
  /*FOOTER*/
  footer {
    display: grid;
    grid-template-columns: 5rem 1fr;
  }

  #footer-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    margin-right: 1rem;
  }

  #footer-logo a {
    margin-block: 0;
    margin-inline: 0;
  }

  .footer-text {
    text-align: left;
    margin-bottom: 0;
  }

  /*FONTS AND UI CARDS*/
  .assign-header h1 {
    font-size: 4rem;
  }

  #fonts h2 {
    font-size: 2rem;
    text-align: left;
  }

  .mock-up-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }

  .details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    align-items: center;
  }

  .details-img-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  /*FRAMEWORK*/

  #frameworks h2 {
    overflow: hidden;
  }

  #frameworks h2 {
    text-align: left;
  }

  .fw-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: space-around;
  }

  .fw-img-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .fw-mockup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .fw-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*COLORS & ANIMATION*/
  #color-mockup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: space-around;
  }

  .color-mockup-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .color-mockup-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #color-details h2 {
    text-align: left;
  }

  #animation-detail h2 {
    text-align: left;
  }

  /*RESPONSIVE*/

  #responsive h2 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  #intro {
    margin-inline: 10rem;
  }

  .card-container {
    margin-inline: 10rem;
    margin-top: 2rem;
  }

  .mock-up {
    margin-inline: 12rem 0;
  }

  .mock-up-container {
    margin-inline: 5rem 5rem;
  }

  .details {
    margin-inline: 0 12rem;
  }
  .details-container {
    margin-inline: 2rem 5rem;
  }
  .color-mockup-container {
    margin-inline: 5rem;
  }
}

@media (min-width: 1500px) {
  .details-container {
    margin-inline: 15rem 5rem;
  }
  .fw-details {
    padding-inline: 5rem 5rem;
  }
  .fw-img {
    margin-top: 1rem;
  }
  .color-mockup-container {
    margin-inline: 10rem;
  }

  .assignments-container {
    padding-bottom: 10rem;
  }

  .card-container {
    margin-top: 0;
  }

  .color-mockup-left {
    padding-inline: 5rem 5rem;
  }

  .color-mockup-right {
    padding-inline: 5rem 5rem;
  }
}

/*ANIMATIONS*/
/*HEADER CIRCLE PULSE*/
.circle-container {
  z-index: 2;
  position: absolute;
  width: 41rem;
  height: 41rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 41rem;
}

.circle {
  z-index: 2;
  position: absolute;
  width: 41rem;
  height: 41rem;
  background: var(--color-cta);
  border-radius: 40rem;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1);
}

.circle:nth-child(2) {
  z-index: 2;
  position: absolute;
  width: 41rem;
  height: 41rem;
  background: var(--color-cta);
  border-radius: 50rem;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
}

.circle:nth-child(3) {
  z-index: 2;
  position: absolute;
  width: 41rem;
  height: 41rem;
  background: var(--color-cta);
  border-radius: 50rem;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}

/*LINK HOVER UNDERLINE*/
.hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.hover-effect::before {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: var(--color-cta);
  transition: width 0.2s ease-in-out;
}
.hover-effect:hover::before {
  width: 85%;
}

/*SLIDE IN*/

.right {
  transform: translateX(100%);
  opacity: 0;
}

.left {
  transform: translateX(-100%);
  opacity: 0;
}

.hidden {
  opacity: 0;
}
