/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: #150d36;
  --color-dark: #201036;
  --color-light: #dbdbff;
  --color-lighter: #f4ecff;
  --color-lighest: #fff;
  --color-cta: #ff2986;
  --font-display: "Playfair Display", serif;
  --font-paragraph: "Source Sans Pro", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* Fonts */
h1 {
  color: var(--color-dark);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  color: var(--color-dark);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-family: var(--font-paragraph);
  color: var(--color-dark);
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
  text-align: left;
}

h4 {
  color: var(--color-lighest);
  font-family: var(--font-paragraph);
  font-size: 1.1rem;
}

p {
  color: var(--color-dark);
  font-family: var(--font-paragraph);
  line-height: 2rem;
  font-size: 1rem;
}

a {
  font-family: var(--font-paragraph);
}

/*MENU*/
.nav-item a {
  color: var(--color-lighest);
  font-family: var(--font-paragraph);
  text-decoration: none;
  font-size: 1.1rem;
}

.logo {
  width: 3rem;
}

.navbar {
  background-color: var(--color-dark);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--color-cta);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-lighest);
}

@media (max-width: 805px) {
  /*MENU*/
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 85px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*HEADER*/
#frontpage-header {
  background-color: var(--color-lighter);
  padding-block: 5rem;
  padding-inline: 1rem;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#frontpage-header p {
  text-align: center;
}
/*INTRO*/
#intro {
  min-height: 60vh;
  padding: 1rem;
  margin-block: 6rem 5rem;
}

.intro-text {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro-graphic-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-graphic {
  max-width: 30rem;
}

/*ASSIGNMENTS*/
#assignments {
  background-color: var(--color-light);
  padding-block: 2rem 10rem;
}

#assignments h2 {
  margin: 1rem;
  margin-bottom: 1.5rem;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-gap: 1rem;
  margin-inline: 1rem;
}

.card {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--color-lighest);
  box-shadow: -5px 12px 10px #7a688f;
  width: 300px;
}

.img-container {
  margin-inline: 1.5rem;
  margin-top: 1.5rem;
}

.card p {
  margin-inline: 1.5rem;
}

.card a {
  margin-inline: 1.5rem;
  text-align: end;
  padding: 1rem;
  color: var(--color-cta);
  font-size: 1.2rem;
}

/*CONCLUSION*/
#conclusion {
  background-color: var(--color-lighter);
  padding-inline: 1rem;
  padding-block: 4rem;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.conclu-text {
  max-width: 50rem;
}

/*FOOTER*/
footer {
  background-color: var(--color-dark);
  padding: 1rem;
}

footer p {
  color: var(--color-lighest);
}

.logo-footer {
  width: 4rem;
}

#footer-logo {
  display: grid;
  justify-items: center;
}

#footer-logo a {
  margin-block: 1rem 3rem;
  margin-inline: 2rem 1rem;
}

.footer-text {
  text-align: center;
  margin-bottom: 1.5rem;
}

.link-text h4 {
  margin-bottom: 0.5rem;
}

.link-text a {
  color: var(--color-lighest);
  font-family: var(--font-paragraph);
  margin-top: 1rem;
}

/*FONTS & UI CARDS*/
#fonts h2 {
  font-size: 2rem;
}

.assign-header {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.assign-header h1 {
  font-size: 3rem;
}

.mock-up {
  padding-block: 2rem 4rem;
  padding-inline: 1rem;
  background-color: var(--color-light);
}

.mock-up-img-container {
  margin-top: 1.5rem;
}

.mock-up-img {
  max-width: 35rem;
}

.details {
  padding-block: 2rem 4rem;
  padding-inline: 1rem;
  background-color: var(--color-lighter);
}

.details-img-container {
  margin-top: 1.5rem;
}

.details-img {
  max-width: 35rem;
}

@media (min-width: 790px) {
  /*INTRO*/
  #intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 1rem;
  }

  #intro h2 {
    text-align: left;
  }

  /*ASSIGNMENTS*/
  .assignments-container {
    margin-bottom: 0;
  }

  #assignments {
    background-color: transparent;
  }

  #assignments h2 {
    font-size: 3.5rem;
    margin-top: 3.5rem;
  }

  .assignments-container {
    background-color: var(--color-light);
    padding: 1rem;
    padding-bottom: 10rem;
    height: 25vh;
  }

  .card-container {
    margin-top: -10rem;
  }

  /*CONCLUSION*/

  #conclusion h2 {
    font-size: 4rem;
  }

  /*FOOTER*/
  footer {
    display: grid;
    grid-template-columns: 5rem 1fr;
  }

  #footer-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    margin-right: 1rem;
  }

  #footer-logo a {
    margin-block: 0;
    margin-inline: 0;
  }

  .footer-text {
    text-align: left;
    margin-bottom: 0;
  }

  /*FONTS AND UI CARDS*/
  .assign-header h1 {
    font-size: 4rem;
  }

  #fonts h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .mock-up-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }

  .details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  #intro {
    margin-inline: 10rem;
  }

  .card-container {
    margin-inline: 10rem;
  }

  .mock-up {
    margin-inline: 12rem 0;
  }

  .mock-up-container {
    margin-inline: 5rem 5rem;
  }

  .details {
    margin-inline: 0 12rem;
  }
  .details-container {
    margin-inline: 2rem 5rem;
  }
}

@media (min-width: 1500px) {
  .details-container {
    margin-inline: 15rem 5rem;
  }
}
